{% extends 'index.html'%}

{% block tittle %}
    login
{% endblock tittle %}
    
{% block content %} 
<div class="login-box">
        {% if messages %}
            {% for message in messages %}
                <div style="color: green;">
                {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <h2>Welcome to 👋</h2>
        <form method="post">
            {% csrf_token %}
            {{form}}
            <button type="submit">Login</button>
        </form>
        <hr>
        <a href="{% url 'signin' %}"><button type="button">create new account</button>
        </a>
    </div>
{% endblock content %}